<div class="row">
  <div class="col">
    <h3>Noticias</h3>
  </div>
  <% if can? :create, Post %>
    <div class="col" style="text-align: right;">
      <%= link_to "Redactar", new_post_path, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
<hr>
<div id="posts" class="card-group" style="gap: 10px;">
  <%= render @posts %>
</div>
<div data-controller="posts"></div>
